.NavBar {
    max-height:5vh;
    width: 100vw;
    display: flex;
    background-color: #4d4d4d;
}

.NavBar a {
    flex: 10;
}

.NavBar .Link {
    flex: 1;
    color: greenyellow;
    text-align: center;
    text-decoration: none;
    outline-style: none;
    padding: 1vh 0;
}

.NavBar .Link:hover {
    color: #4d4d4d;
    background-color: greenyellow;
}

.NavBar a {
    padding-left: 1vw;
    padding-bottom:2px;
    padding-top:2px;
    border-top:0px;
    border-bottom:0px;
    width: auto;
}

.NavBar a img {
    max-height: 100%;
    width: auto;
}

.NavBar a:hover {
    background-color:#4d4d4d;
}