.NavBar {
    max-height:5vh;
    width: 100vw;
    display: flex;
    background-color: #4d4d4d;
}

.NavBar div {
    flex: 10;
    max-height:5vh;
}

.NavBar .Link {
    flex: 1;
    color: greenyellow;
    text-align: center;
    text-decoration: none;
    outline-style: none;
    padding: 1vh 0;
}

.NavBar .Link:hover {
    color: #4d4d4d;
    background-color: greenyellow;
}

.NavBar div .Link {
    padding-left: 1vw;
    margin-top: 0px;
    max-height: 100%;
    width: auto;
}

.NavBar div .Link img {
    max-height: 100%;
    width: auto;
}

.NavBar div .Link:hover {
    background-color:#4d4d4d;
}