.nav-bar {
    max-height:5vh;
    padding-left: 20vw;
    padding-right:20vw;
    padding-bottom:3vh;
    display: flex;
}

.home-icon {
    max-width:7vh;
}

.nav-bar .Link {
    flex: 1;
    color:#484848;
    font-size:2.5em;
    text-decoration: none;
    outline-style: none;
    padding: 1vh;
}

.nav-bar a {
    padding-top:1vh;
    padding-left: 1vw;
    padding-bottom:2px;
    width: auto;
}

.nav-bar a img {
    max-width: 7vh;
    height: auto;
}

.nav-bar .current-page  {
    max-height: 5vh;
    text-align: center;
    flex:10;
    padding-top:1vh;
}

.centered {
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}

.content-main {
    padding-top:3vh;
    display: flex;
}

.center-content {
    flex: 3;
}

.center-content h1 {
    text-align:center;
}

.empty-side {
    flex:1.5
}

.blog-list {
    padding-left:1vw;
    flex:1.5
}

.blog-list-items {
    background-color: greenyellow;
}

.blog-post-link {
    text-decoration: none;
    background-color:#565656;
    margin-top:2vh;
    margin-bottom:2vh;
    width:75%;
    overflow:hidden;
    white-space: nowrap;
    display: flex;
}

.blog-post-link .link {
    text-decoration: none;
    padding:2vh;
    color:#F8FFFF;
    flex-grow: 1;
}

.blog-post-link:hover {
    background-color: #484848;
}

.blog-post-link .link:selected {
    text-decoration:none;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: xx-small;
}